body {
	margin: 0;
	background: #000;
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
	overflow: hidden;
}
button {
	position: absolute;
	width: 50px;
	height: 100%;
	border: 0;
	background: transparent;
	z-index: 1;
}
#buttonLeft {
	left:0;
}
#buttonRight {
	right: 50px;
}
div {
	position: absolute;
	width: 1024px;
	height: 768px;
	background: transparent;
	z-index:2;
}
canvas {
	display: block;
	position: absolute;
	background: #fff;
}